<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capitalfinal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.capitalfinal.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.capitalfinal.SignInActitvity"
            android:label="@string/title_activity_sign_in_actitvity" >
        </activity>
        <activity
            android:name="com.example.capitalfinal.SignUpActitvity"
            android:label="@string/title_activity_sign_up_actitvity" >
        </activity>
        <activity
            android:name="com.example.capitalfinal.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.capitalfinal.NewsActivity"
            android:label="@string/title_activity_news" >
        </activity>
    </application>

</manifest>
